root = true

########################################
# GLOBAL
########################################
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

########################################
# C#
########################################
[*.cs]

########## NAMESPACE ##########
csharp_style_namespace_declarations = file_scoped:error

########## USING ##########
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = true

########## VAR USAGE ##########

csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = false:suggestion

########## EXPRESSÃO ##########
csharp_style_expression_bodied_methods = when_on_single_line:suggestion
csharp_style_expression_bodied_properties = when_on_single_line:suggestion
csharp_style_expression_bodied_constructors = false:suggestion

########## NULL ##########
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion

########## THIS ##########
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion
dotnet_style_qualification_for_event = false:suggestion

########## MODIFICADORES ##########
csharp_preferred_modifier_order = public,private,protected,internal,static,virtual,abstract,override,readonly,sealed,async:suggestion

########## BRACES ##########
csharp_prefer_braces = true:warning

########## PATTERN MATCHING ##########
csharp_style_pattern_matching_over_is_with_cast_check = true:suggestion
csharp_style_pattern_matching_over_as_with_null_check = true:suggestion

########## SWITCH ##########
csharp_style_prefer_switch_expression = true:suggestion

########## NAMING ##########

# Interfaces começam com I
dotnet_naming_rule.interfaces_should_start_with_i.severity = warning
dotnet_naming_rule.interfaces_should_start_with_i.symbols = interfaces
dotnet_naming_rule.interfaces_should_start_with_i.style = prefix_i

dotnet_naming_symbols.interfaces.applicable_kinds = interface
dotnet_naming_symbols.interfaces.applicable_accessibilities = *
dotnet_naming_symbols.interfaces.required_modifiers = 

dotnet_naming_style.prefix_i.required_prefix = I
dotnet_naming_style.prefix_i.capitalization = pascal_case

# Classes em PascalCase
dotnet_naming_rule.classes_should_be_pascal_case.severity = warning
dotnet_naming_rule.classes_should_be_pascal_case.symbols = classes
dotnet_naming_rule.classes_should_be_pascal_case.style = pascal_case_style

dotnet_naming_symbols.classes.applicable_kinds = class
dotnet_naming_symbols.classes.applicable_accessibilities = *
dotnet_naming_symbols.classes.required_modifiers = 

dotnet_naming_style.pascal_case_style.capitalization = pascal_case

# Métodos em PascalCase
dotnet_naming_rule.methods_should_be_pascal_case.severity = warning
dotnet_naming_rule.methods_should_be_pascal_case.symbols = methods
dotnet_naming_rule.methods_should_be_pascal_case.style = pascal_case_style

dotnet_naming_symbols.methods.applicable_kinds = method
dotnet_naming_symbols.methods.applicable_accessibilities = *
dotnet_naming_symbols.methods.required_modifiers = 

# Campos privados _camelCase
dotnet_naming_rule.private_fields_should_have_underscore.severity = warning
dotnet_naming_rule.private_fields_should_have_underscore.symbols = private_fields
dotnet_naming_rule.private_fields_should_have_underscore.style = underscore_camel_case

dotnet_naming_symbols.private_fields.applicable_kinds = field
dotnet_naming_symbols.private_fields.applicable_accessibilities = private

dotnet_naming_style.underscore_camel_case.required_prefix = _
dotnet_naming_style.underscore_camel_case.capitalization = camel_case

########################################
# JSON
########################################
[*.json]
indent_size = 2

########################################
# YAML
########################################
[*.yml]
indent_size = 2
